<ion-view title="Lists" ng-controller="MyController">
    <ion-content padding="true" class="has-header" >
        <div class="list card">
            <div class="item item-divider">Your Gift Registry</div>
            <!--<div class="item item-body">
                <ion-list>
                    <label class="item item-input">
                        <span class="input-label">Input</span>
                        <input type="text" ng-model="query" ng-model-options="{ getterSetter: true }" placeholder="Search for gifts!">
                    </label>
                </ion-list>
                <button class="button button-stable button-block" ng-click="searchForProducts(query)">Search!</button>
                <a href="#/lists" class="button button-stable button-block ">View Current Gift Lists!</a>
            </div>-->
        </div>
        <ion-list>
            <ion-item ng-repeat="product in selectedProducts">
                <center style="width:100%">
                    <img src="{{product.img}}" style=" height: 200px;">
                </center>
                <div class="item item-divider">{{product.name}}</div>
                <div class="item item-divider">${{product.price}}</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>