<ion-view title="Search">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Products</div>
            <div class="item item-body">
                <ion-list>
                    <label class="item item-input">
                        <span class="input-label">Input</span>
                        <input type="text" placeholder="Search for gifts!">
                    </label>
                </ion-list>
                <button class="button button-stable button-block ">Search!</button>
            </div>
        </div>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>